.main {
  width: 90rem;
  height: 64rem;
  display: flex;
}
.leftside {
  width: 55.5%;

  background-clip: content-box;
  background-size: 120% 100%;
  background-image: url("../assests/bluela.png");
  background-color: black;
}
.rightside {
  width: 44.5%;
}
/* @media screen and (max-width: 800px){
  .main{
    display: block;
  }
  .leftside{
    width: 100%;
  }
  .rightside{
    width: 100%;
  }
} */